.git
.github
.gitignore

_build
deps
assets/node_modules
npm-debug.log

android
shared

erl_crash.dump

trictrac_zero/.julia
trictrac_zero/.DS_Store
trictrac_zero/vendor/AlphaZero.jl/.git

trictrac_zero/sessions/**/iterations
trictrac_zero/sessions/**/mem.data
trictrac_zero/sessions/**/benchmark.data
trictrac_zero/sessions/**/log.txt
trictrac_zero/sessions/**/status.json
trictrac_zero/sessions/**/report.json
