<div class="row">
  <div class="column">
    <h1>Lobby: <%= @game %></h1>
    <div
      id="root"
      data-game={@game}
      data-user={@name}
      data-variant={@variant}
      data-join-topic={"games:#{@game}"}
    >
      <p>React app not loaded...</p>
    </div>
  </div>
</div>
