<div class="row">
  <div class="column">
    <div
      id="root"
      data-game={@game}
      data-user={@name}
      data-variant={@variant}
      data-bot={@bot || ""}
      data-bot-margot={@bot_margot || ""}
      data-client-id-scope={@client_id_scope || "tab"}
      data-join-topic={"games:#{@game}"}
    >
      <p data-i18n="join.reactMissing">React app not loaded...</p>
    </div>
  </div>
</div>
