<section class="row">
  <div class="row">
    <div class="column">
      <h1 id="index-page">Join a Game</h1>
        <%= form_for @conn, "/game", fn f -> %>

          <label>
            Game Name: <%= text_input f, :game %>
          </label>

          <label>
            User Name: <%= text_input f, :name %>
          </label>

          <%= submit "Submit" %>
        <% end %>
    </div>
  </div>
</section>
